<%# totally didnt steal this from https://codepen.io/gpyne/pen/npdQgW %>

<%= stylesheet_link_tag "hexagon" %>
<%= stylesheet_link_tag "hexagon_players" %>

<% i = 0 %>
<table class="grid">
  <% (1..GridConf::GRIDSIZE).each do |y| %>
    <tr>
      <% (1..GridConf::GRIDSIZE).each do |x| %>
        <td class="grid-cell <%="#{GridConf::GRID_CONF[GRIDSIZE*y+x]}"%>" id="cell-<%="#{x}-#{y}"%>"></td>
      <% end %>
    </tr>
  <% end %>
</div>
