.grid-cell{
  min-width: 100px;
  min-height: 100px;
}

.sel{
  background-color: black;
}

.checkpoint{
  background-color: yellowgreen;
}

.super-checkpoint {
  background-color: darkgreen;
}
.player {
  background: white;
  color: black;
  font-size: 10px;
}

.selected-member {
  background: yellow;
  color: black;
}

.team1, .team1 > td {
  background: red;
  color: white;
}

.team2, .team2 > td {
  background: yellow;
  color: black;
}

.team3, .team3 > td {
  background: purple;
  color: white;
}

.team4, .team4 > td {
  background: orange;
  color: black;
}

.team5, .team5 > td {
  background: darkblue;
  color: white;
}

.team6, .team6 > td {
  background: saddlebrown;
  color: white;
}

.team7, .team7 > td {
  background: pink;
  color: black;
}

.team8, .team8 > td {
  background: magenta;
  color: white;
}

.team6, .team8 > td {
  background: saddlebrown;
  color: white;
}

.cemetery {
  background: grey;
}
.legal-move {
  background-color: cyan;
}

